/* 💻 Add your background image here  */
.bg-image {
  background-image: url('https://i.ytimg.com/vi/rf-z0jmTyAs/mqdefault.jpg');
  background-position: center;
  background-size: cover;
}

html {
  height: 100%;
  width: 100%;
  color: rgb(148, 13, 13);
}

button {
  background-color: #c300ff;
  color: #0037ff;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
}

.text-center {
  text-align: center !important;
}

.score-spot {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 40vh;
  margin: auto;
}